[Unit]
Description=LED Beat Visualizer Service
After=multi-user.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/rhythm-tracker
ExecStart=/home/pi/rhythm-tracker/.venv/bin/python /home/pi/rhythm-tracker/app/app.py
Restart=always

[Install]
WantedBy=multi-user.target
